.GradientContainer {
  position: relative;
  margin-bottom: 65px;
  padding: 135px 0 60px;

  @media screen and (max-width: 800px) {
    margin-bottom: 0;
    padding: 100px 0 60px;
    padding-bottom: 0;
  }

  &-Modal {
    min-width: auto;
    max-height: 100%;
    background: none;
    border-radius: var(--space-l);
  }
  &-Language {
    position: absolute;
    z-index: 2;
    top: var(--space-xl);
    right: calc(var(--space-l) * 4);

    & > .Button-Icon {
      color: #fff;
    }
  }

  &-Toggler {
    position: absolute;
    z-index: 2;
    top: var(--space-xl);
    right: var(--space-xl);

    & > .Button-Icon {
      color: #fff;
    }
  }

  &-Root {
    z-index: 2;
    padding: var(--space-s);
  }

  &-Content {
    overflow: hidden;
    border-radius: var(--space-l);
  }
}
