.GradientContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  @media screen and (max-width: 800px) {
    margin-bottom: 0;
  }

  &-Modal {
    overflow: overlay;
    min-width: auto;
    max-width: 700px;
    max-height: 100%;
    background: none;
    border-radius: var(--space-l);

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-Controls {
    position: absolute;
    z-index: 3;
    top: var(--space-xl);
    right: var(--space-xl);

    & .Button-Icon {
      color: #fff;
    }

    @media screen and (max-width: 800px) {
      position: relative;
      top: auto;
      right: auto;
      padding: var(--space-m) calc(var(--space-2xl) - var(--space-2xs)) 0;

      & .Button-Icon {
        color: var(--color-typo-primary);
      }
    }
  }

  &-Gradient {
    position: sticky;
  }

  &-Root {
    z-index: 2;
    margin: var(--space-l);

    @media screen and (max-width: 800px) {
      box-sizing: border-box;
      max-width: 100vw;
      max-height: 100vh;
    }
  }

  &-Content {
    position: relative;
    overflow: hidden;
    background: var(--color-bg-default);
    border-radius: var(--space-l);
  }
}
