/* stylelint-disable */
.MixAuth {
  --mix-auth-container-padding: calc(var(--space-2xl) + var(--space-s))
    calc(var(--space-2xl) - var(--space-2xs))
    calc(var(--space-2xl) - var(--space-2xs));
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  box-sizing: border-box;
  padding: var(--mix-auth-container-padding);
  background: var(--color-bg-default);

  @media screen and (max-width: 800px) {
    --mix-auth-container-padding: var(--space-s)
      calc(var(--space-2xl) - var(--space-2xs))
      calc(var(--space-2xl) - var(--space-2xs));
  }

  &-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  & a {
    text-decoration: none;
  }

  &_withBottomContainer {
    padding: 0;

    & .MixAuth-Container {
      padding: var(--mix-auth-container-padding);
    }
  }

  &-Additional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-l);
    background: var(--color-bg-secondary);
  }

  &-Close {
    position: absolute;
    top: var(--space-m);
    right: var(--space-m);
  }
}
