/* stylelint-disable */
.Theme_color_ssoDark {
  /* //////////////////////////////
  // Цвета фонов /////////////// */
  --color-bg-default: color(#22272b a(100%)); /* Цвет дефолта */
  --color-bg-secondary: color(#22272b l(-5)); /* Дополнительный цвет фона */
  --color-bg-brand: color(#0071b2 a(100%)); /* Цвет фона брендированный */
  --color-bg-link: color(#0078d2 a(100%)); /* Цвет фона ссылки */
  --color-bg-border: color(#f6fbfd a(20%) l(+10)); /* Цвет границ */
  --color-bg-stripe:
    color(
      #f6fbfd a(6%)
    ); /* Цвет зебры (например, при окрашивании фона строк таблицы через одну) */

  --color-bg-ghost: color(#f6fbfd a(10%)); /* Цвет затенения */
  --color-bg-tone: color(#f6fbfd l(-92%) a(85%)); /* Цвет паранджи */
  --color-bg-soft: color(#22272b l(+100%) a(90%)); /* Цвет молока */
  --color-bg-system:
    color(
      #4b5963 h(219) s(8) l(33) a(100%)
    ); /* Цвет фона системнный */

  --color-bg-normal: color(#0aa5ff a(100%)); /* Цвет фона нейтральный */
  --color-bg-success: color(#22c38e a(100%)); /* Цвет фона успеха */
  --color-bg-caution: color(#f2c94c a(100%)); /* Цвет фона осторожности */
  --color-bg-warning: color(#f38b00 a(100%)); /* Цвет фона предупреждения */
  --color-bg-alert: color(#c6074c s(+10)); /* Цвет фона ошибки */
  --color-bg-critical: color(#33000f a(100%)); /* Цвет фона системнный */

  /* //////////////////////////////
  // Цвета текста ////////////// */
  --color-typo-primary: color(#fff l(-2)); /* Цвет основного текста */
  --color-typo-secondary: color(#fff a(60%)); /* Цвет второстепенного текста */
  --color-typo-ghost: color(#fff a(30%)); /* Цвет дополнительного текста */
  --color-typo-brand: color(#0071b2 a(100%)); /* Цвет брендового текста */
  --color-typo-system:
    color(
      #4b5963 h(219) s(14) l(45) a(100%)
    ); /* Цвет фона системнный */

  --color-typo-normal: color(#0aa5ff s(+14) l(-4)); /* Цвет фона нейтральный */
  --color-typo-success: color(#22c38e s(+14) l(-8)); /* Цвет текста успеха */
  --color-typo-caution:
    color(
      #f2c94c s(+7) l(-3)
    ); /* Цвет текста осторожности */

  --color-typo-warning:
    color(
      #f38b00 s(+7) l(-3)
    ); /* Цвет текста предупреждения */

  --color-typo-alert: color(#c6074c s(+3) l(-3)); /* Цвет текста ошибки */
  --color-typo-critical: color(#33000f l(+9%)); /* Цвет фона системнный */
  --color-typo-link:
    color(
      #0078d2 h(-2) l(+12%) a(100%)
    ); /* Цвет основной ссылки */

  --color-typo-link-minor:
    color(
      #0078d2 h(-2) s(-55%) l(+20%)
    ); /* Цвет второстепенной ссылки */

  --color-typo-link-hover:
    color(
      #0078d2 h(-2) l(+26%) a(100%)
    ); /* Цвет ховера ссылки */

  /* //////////////////////////////
  // Цвета скроллбара ////////////// */
  --color-scroll-bg: color(#f6fbfd a(6%));
  --color-scroll-thumb: color(#f6fbfd a(24%));
  --color-scroll-thumb-hover: color(#f6fbfd a(32%));

  /* /////////////////////////////
  // Цвета контролов /////////// */

  /* Default */
  --color-control-bg-default: color(#22272b); /* Цвет фона контрола */
  --color-control-typo-default:
    color(
      #fff a(80%)
    ); /* Цвет основного текста контрола */

  --color-control-typo-placeholder:
    color(
      #fff a(35%)
    ); /* Цвет плейсхолдера контрола */

  --color-control-bg-border-default:
    color(
      #f6fbfd a(28%)
    ); /* Цвет фона бордеров котрола */

  --color-control-bg-border-default-hover:
    color(
      #f6fbfd a(52%)
    ); /* Цвет фона бордеров контрола по ховеру */

  --color-control-bg-border-focus:
    color(
      #0078d2 l(+10%)
    ); /* Цвет аутлайна контролов при фокусе */ /* TODO заменить на правило целиком */
  --color-control-bg-focus:
    color(
      #0078d2 a(40%)
    ); /* Цвет тени в состонии фокуса */

  --color-control-bg-active:
    color(
      #0078d2 a(70%)
    ); /* Цвет тени в состонии нажатия  */

  /* Primary */
  --color-control-bg-primary:
    color(
      #0078d2 a(100%)
    ); /* Цвет фона активного контрола */

  --color-control-bg-primary-hover:
    color(
      #0078d2 l(+9%)
    ); /* Цвет фона активного контрола по ховеру */

  --color-control-typo-primary:
    color(
      #fff l(+100%)
    ); /* Цвет акцентного текста */

  --color-control-typo-primary-hover:
    color(
      #fff l(+100%)
    ); /* Цвет акцентного текста */

  /* Secondary */
  --color-control-bg-secondary:
    color(
      #22272b a(0%)
    ); /* Цвет фона бордеров котрола */

  --color-control-bg-border-secondary:
    color(
      #0078d2 a(100%)
    ); /* Цвет фона бордеров котрола */

  --color-control-bg-border-secondary-hover:
    color(
      #0078d2 l(+9%)
    ); /* Цвет фона бордеров контрола по ховеру */

  --color-control-typo-secondary:
    color(
      #0078d2 h(-2) l(+12%) a(100%)
    ); /* Цвет второстепеного текста контрола */

  --color-control-typo-secondary-hover:
    color(
      #0078d2 h(-2) l(+26%) a(100%)
    ); /* Цвет акцентного текста */

  /* Ghost */
  --color-control-bg-ghost:
    color(
      #f6fbfd s(-100) a(16%)
    ); /* Цвет фона дополнительного контрола */

  --color-control-bg-ghost-hover:
    color(
      #f6fbfd s(-100) a(23%)
    ); /* Цвет фона дополнительного контрола по ховеру */

  --color-control-typo-ghost:
    color(
      #fff a(75%)
    ); /* Цвет дополнительного текста контрола */

  --color-control-typo-ghost-hover:
    color(
      #fff a(90%)
    ); /* Цвет акцентного текста */

  /* Clear */
  --color-control-bg-clear:
    color(
      #f6fbfd s(-100) a(0%)
    ); /* Цвет фона чистого контрола */

  --color-control-bg-clear-hover:
    color(
      #f6fbfd s(-100) a(23%)
    ); /* Цвет фона чистого контрола по ховеру */

  --color-control-typo-clear: color(#fff a(75%)); /* Цвет акцентного текста */
  --color-control-typo-clear-hover:
    color(
      #fff a(90%)
    ); /* Цвет акцентного текста */

  /* Disable */
  --color-control-bg-disable:
    color(
      #f6fbfd s(-100) a(16%)
    ); /* Цвет фона неактивного контрола */

  --color-control-bg-border-disable:
    color(
      #f6fbfd s(-100) a(0%)
    ); /* Цвет фона бордеров неактивного контрола */

  --color-control-typo-disable:
    color(
      #fff a(24%)
    ); /* Цвет основного текста неактивного контрола */

  /* /////////////////////////////
  // Цвета тени /////////// */
  --color-shadow-group-1: color(#000 a(8%));
  --color-shadow-group-2: color(#000 a(32%));
  --color-shadow-layer-1: color(#000 a(8%));
  --color-shadow-layer-2: color(#000 a(32%));
  --color-shadow-modal-1: color(#000 a(8%));
  --color-shadow-modal-2: color(#000 a(32%));
}
/* stylelint-enable */
